
7-03-TerraformPart2/ansible/copy-index.yaml
7-03-TerraformPart2/ansible/hosts.yaml
7-03-TerraformPart2/ansible/index.html.j2
7-03-TerraformPart2/id_rsa
7-03-TerraformPart2/id_rsa.pub
7-03-TerraformPart2/terraform/.terraform.lock.hcl
7-03-TerraformPart2/terraform/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.89.0/linux_amd64/CHANGELOG.md
7-03-TerraformPart2/terraform/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.89.0/linux_amd64/LICENSE
7-03-TerraformPart2/terraform/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.89.0/linux_amd64/README.md
7-03-TerraformPart2/terraform/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.89.0/linux_amd64/terraform-provider-yandex_v0.89.0
7-03-TerraformPart2/terraform/create-vm.tf
7-03-TerraformPart2/terraform/key.json
7-03-TerraformPart2/terraform/linux_amd64/CHANGELOG.md
7-03-TerraformPart2/terraform/linux_amd64/LICENSE
7-03-TerraformPart2/terraform/linux_amd64/README.md
7-03-TerraformPart2/terraform/linux_amd64/terraform-provider-yandex_v0.89.0
7-03-TerraformPart2/terraform/main.tf
7-03-TerraformPart2/terraform/meta.yaml
7-03-TerraformPart2/terraform/terraform.tfstate
7-03-TerraformPart2/terraform/terraform.tfstate.backup
terraform/meta.yaml
terraform/main_backup.tf
terraform/main.tf
terraform/install
terraform/create-vm.tf
sdvps-homeworks/8-03-hw/
id_rsa
id_rsa.pub
12-06/12-06.md
9-02-Zabbix/Vagrantfile
9-04-Prometheus/Vagrantfile
10-01-Keepalived/Vagrantfile
10-03-Pacemaker/Vagrantfile
2-01-vcs/Vagrantfile
11-01/readme.md
terraform/*
.vscode/settings.json
vagrant/Vagrantfile
ter-homeworks-02/demo/demostration1.tf
ter-homeworks-02/demo/demostration2.tf
ter-homeworks-02/demo/providers.tf
